# =======================================
# Python Virtual Environment
# =======================================
venv/

# =======================================
# Data, Results, and Large Files
# =======================================
data/raw/
data/processed/
results/
*.zip

# =======================================
# Generated Metadata & Logs
# =======================================
data/

# =======================================
# Python & Notebook Cache
# =======================================
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# =======================================
# IDE / Editor Files
# =======================================
.vscode/
.idea/
*.swp
*.swo
